<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script language="JavaScript" type="text/javascript" src="../static/main.js"></script>
    <script language="JavaScript" type="text/javascript" src="../static/clock.js"></script>
    
    <title>Quotes</title>
</head>
<body>
    <div class="quote">
        <div class="quote_contents"></div>
        <div class="quote_attribution"></div>
    </div>
</body>
</html>